.line , .predictedline{
    fill: none;
    /* stroke: #0062ff; */
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff; 
}
  
.focus circle {
    fill: none;
    stroke: steelblue;
}

.domain{
    stroke: rgba(255,255,255,0);
}