.mainecgbox{

}

.ecgdatabox{
    max-height: 330px;
    overflow: scroll;
}

.ecgdatapoint{
    /* height: 50px; */
    /* width: 55px; */
    border-bottom: solid 3px rgb(252, 252, 252); 
    background: rgba(214, 214, 214, 0.76);
    opacity: 1;
}

.ecgdatapoint:hover{
   /* background: rgb(255, 185, 80); */
   opacity: 0.5;
   border-bottom: solid 3px #0062ff; 
}

.ecgdatapoint.active{
    /* background: rgb(80, 255, 246); */
    border-bottom: solid 3px #0062ff; 
    opacity: 1;
 }

 .modeloutputbox{
     /* background:#ffa32c; */
 }

 .indicatorcircle{
     height: 6px;
     width: 6px;
     border-radius: 6px;  
     opacity: 0.95; 
 }

 .indicatoroutrcircle{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
 }

 .greenbox{
     background: green;
     height: 10px;
 }

 .redbox{
    background: red;
    height: 10px;
}

.colorbox{
    transition: background-color 0.5s ease;
}
 /* 
 #ffc815 yellow
 #292929  dark grey
#585858 lighter grey
white 
black
 
 */

 .datasettab{
     background: rgb(218, 218, 218);
     padding: 10px;
 }
.datasettab.active{
    background:  #0062ff;
    color: white;
}
.lowerbar{
    border-bottom: 2px solid #0062ff;
}