@import '@carbon/themes/scss/themes'; 

// $carbon--theme: $carbon--theme--g100;
// @include carbon--theme();
 

$feature-flags: (
  ui-shell: true,
);
@import 'carbon-components/scss/globals/scss/styles.scss';
// @import  './mytheme.scss';





// @include my-theme()

// @include mytheme();

.bx--header{
    background-color:#292929;
    // border: 10px solid green;
}

.bx--checkbox-label-text{
    font-size: 0.9em;
    padding: 0px;
}
.bx--slider-container{
    width: 100%;
}
.bx--tooltip__trigger{
    margin: 0px;
}
.bx--tooltip__label{
    padding: 0px;
}

.maxh16{
    // max-height:  12em;
    overflow: scroll;
}