@import '@carbon/themes/scss/themes'; 

// $carbon--theme: $carbon--theme--g100;
// @include carbon--theme();
 

$feature-flags: (
  ui-shell: true,
);
@import 'carbon-components/scss/globals/scss/styles.scss';
// @import  './mytheme.scss';





// @include my-theme()

// @include mytheme();

.bx--header{
    background-color:#292929;
    // border: 10px solid green;
}

