.eachlayerbox{

    height: 30px;
    width: 30px;
    border: grey 2px solid;
    border-radius: 4px;
}

.updatebutton{
    display: inline-block;
    background: rgba(128, 128, 128, 0.463);
    padding: 5px;
    border-radius: 14px;
}
.updatebutton:hover{
    background: rgba(128, 128, 128, 0.763);
}