.gridcell{
    
     /* border: 1px solid pink; */
}

.gridcell:hover{
    /* background: green; */
}

.gridcell.sel{
    background: green;
}

.gridrow{
    /* border-bottom: 1px dashed grey; */
    border-bottom: 0.5px dashed grey;
    margin: 0px;
    padding: 0px;
}